extends layout
block content
    
    br
    .collection
        a.collection-item.active.center(href="") UPDATE SATTA MATKA JODI CHARTS
        a.collection-item(href="#!") TIME CHART 
        a.collection-item(href="#!") KALYAN CHART
        a.collection-item(href="#!") MUMBAI CHART
        a.collection-item(href="#!") MILAN DAY CHART
        a.collection-item(href="#!") MILAN NIGHT CHART
        a.collection-item(href="#!") RAJDHANI DAY CHART
        a.collection-item(href="#!") RAJDHANI NIGHT CHART
        a.collection-item(href="#!") TARA MUMBAI DAY CHART
        a.collection-item(href="#!") TARA MUMBAI NIGHT CHART
        a.collection-item.active.center(href="") MATKA PANEL CHARTS
        a.collection-item(href="#!") TIME PANEL CHART
        a.collection-item(href="#!") KALYAN PANEL CHART
        a.collection-item(href="#!") MUMBAI PANEL CHART
        a.collection-item(href="#!") MILAN PANEL DAY CHART
        a.collection-item(href="#!") MILAN PANEL NIGHT CHART
        a.collection-item(href="#!") RAJDHANI PANEL DAY CHART
        a.collection-item(href="#!") RAJDHANI PANEL NIGHT CHART
        a.collection-item(href="#!") TARA MUMBAI PANEL DAY CHART
        a.collection-item(href="#!") TARA MUMBAI PANEL NIGHT CHART
        a.collection-item.active.center(href="") EXTRA MATKA CHARTS
        a.collection-item(href="#!") ONE TIME CHART
        a.collection-item(href="#!") GOWA DAY CHART
        a.collection-item(href="#!") LOKMAT DAY CHART
        a.collection-item(href="#!") CENTRAL BOMBAY CHART
        a.collection-item(href="#!") AKOLA PRABHAT NIGHT CHART
        a.collection-item(href="#!") LOKMAT DAY PENAL CHART
        a.collection-item(href="#!") BOMBAY RAJSHREE DAY PANEL CHART
        a.collection-item(href="#!") BOMBAY RAJSHREE DAY PANEL CHART
       
        
