.messages
    each type in Object.keys(messages)
        each message in messages[type]
            script.
                const ok = ${message}
                swal(ok+"Successfully Done", "All done, you performed action", "success")
                    
            //- div.collection
            //-     a.collection-item.active #{message}







                
                        //- $("button").click(function() {
                        
                        //- });

            //- div(class='alert alert-'+type) #{message}











            //- div.collection
            //-     a.collection-item.active #{message}