extends layout
block content
    
    form(method='POST',action='/register')
        .row
            h4 Update  
            
        .col.s6
            .row
                .input-field.col.s12
                    label Name:
                    input.form-control(name='name',type='text')

            .row
                .input-field.col.s12
                    label Email:
                    input.form-control(name='email',type='email')
            .row
                .input-field.col.s12
                    label Username:
                    input.form-control(name='username',type='text')
            .row
                .input-field.col.s12
                    label Password
                    input.form-control(name='password',type='password')
            .row
                .input-field.col.s12
                    label Confirm
                    input.form-control(name='password2',type='password')
            .row
                .input-field.col.s12
                    
                    button.btn(type="submit") Submit